@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.h1{
    width: 100%;
    color: #fff;
    font-family: 'Poppins';
    font-size: 33px;
}
.button{
    font-size: 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    display:none;
}
header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    background: #3EB54E;
}
header .header-left {
    display: flex;
    align-items: center;
}
header .header-left .logo {
    width: 140px;
}
header .header-left nav {
    margin-left: 50px;
}
header .header-left nav ul {
    display: flex;
}
nav ul li a {
    display: block;
    color: #fff;
    font-size: 20px;
    margin-top: 3px;
    padding: 5px 10px;
    transition: 0.2s;
    font-family: Arial, Helvetica, sans-serif;
    padding: 13px;
    text-align: left;
    
}
nav ul li a:hover{
    color: #84ce8e;
}
nav ul li a.active {
    margin-left: 20px;
}
nav ul li a.active:hover{
    color: #84ce8e;
}

nav .login-signup {
    display: none;
}
header .header-right {
    display: flex;
    align-items: center;
}
header .login-signup {
    color: #cfd9e0;
    margin-top: 3px;
    font-weight: bold;
}
header .login-signup a {
    margin-right: 3vh;
    margin-top: 3px;
    font-size: 18px;
    display: inline-block;
    color: #fff;
    outline: 2px solid #fff;
    padding: 5px 12px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.075);
}
header .login-signup a:hover{
    background-color: #ffffff44;
}
header .header-right .hamburger {
    margin-left: 20px;
    cursor: pointer;
    display: none;
}
header .header-right .hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #fff;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #3EB54E;
}
.text1 {
    font-size: calc(35px + 54 * ((100vw - 375px) / 1545));
    text-align: center;
    margin-bottom: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #fffffff3;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.164);
    margin-right: 20px;
    margin-left: 20px;
}
.text2{
    color: #3EB54E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: calc(20px + 20 * ((100vw - 375px) / 1545));
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.164);
    background-image: linear-gradient(to bottom, #fff, #fff);
    padding-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
} 
.button1{
    width: calc(200px + 10 * ((100vw - 375px) / 975));
    height: calc(50px + 10 * ((100vw - 375px) / 975));
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #3EB54E;
    font-size: calc(15px + 2.25 * ((100vw - 375px) / 975) * 1.3);
    border: none;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.button2 {
    width: calc(200px + 10 * ((100vw - 375px) / 975));
    height: calc(50px + 10 * ((100vw - 375px) / 975));
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    outline: 2px solid #fff;
    font-size: calc(15px + 2.25 * ((100vw - 375px) / 975) * 1.3);
    border: none;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
}
.button1:hover{
    background-color: #ecebeb;
    color: #2f8c3c;
    transition: .4s;
}
.button2:hover{
    color: #ecebeb;
    outline: 2px solid #ecebeb;
    transition: .2s;
}
@media only screen and (max-width: 1130px) {
    header {
        padding: 0 20px;
    }
    header .header-right .hamburger {
        display: block;
    }
    header .header-left nav {
        position: absolute;
        top: 69px;
        right: 100%;
        width: 100%;
        height: 100%;
        background-color: #3EB54E;
        padding: 20px;
        transition: right 0.3s ease-in-out;
        z-index: 1;
    }
    nav ul li a.active{
        font-weight: normal;
        margin-left: 0px;
    }
    header .header-left nav.active {
        right: 0;
    }
    header .header-left nav ul {
        display: block;
    }
}
@media screen and (max-height: 520px) {
    .text1{
        font-size: calc((32px + 0.03 * (100vh - 250px)));
        margin-top: calc(100px + 0.05 * (580px - min(580px, 100vh)));
    }
    .text2{
        font-size: calc(8px + 12 * ((100vw - 375px) / 1545));
    }
    .container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .button1{
        margin-right: 30px;
    }
    main{
        height: 380px;
    }
}
@media only screen and (max-width: 750px) {
    nav .login-signup {
        display: none;
        margin-top: 20px;
    }
    nav ul li a.active{
        font-weight: normal;
        margin-left: 0px;
    }
    header .header-right .login-signup {
        display: none;
    }
    header .login-signup a{
        display: block;
        color: #fff;
        font-size: 20px;
        padding: 5px 10px;
        transition: 0.2s;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 13px;
        text-align: left;
        outline: none;
        font-weight: normal;
        
    }
    header .login-signup a:hover{
        background-color: transparent;
        color: #84ce8e;
    }
    .button{
        display: block;
    }
}
@media screen and (min-width: 1130px) {
    main {
      flex-direction: column;
      align-items: center;
      height: 70vh;
    }
    .container {
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .button1 {
      margin-right: 50px;
    }
    .button1,
    .button2{
    padding: 0px 10px 0px 10px;
    }
}
@media screen and (max-width: 750px) {
    .button1,
    .button2 {
    padding: 0px 30px 0px 30px;
    }
}
.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 5vh;
}
.video-wrapper {
    width: 65%;
    height: 25px;
    padding-bottom: 57.1%;
    position: relative;
    margin-bottom: -120px;
}
iframe {
    position: absolute;
    width: 100%;
    height: 64%;
    top: 0;
    left: 0;
    border-radius: 10px;
    box-shadow: 5px 5px 8px  rgba(0, 0, 0, 0.249);
    margin-top: 10px;
}
.sub-text{
    text-align: center;
    margin-bottom: 100px;
    font-family: Arial, Helvetica, sans-serif;

}
.foot {
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #3EB54E;
    background-color: #fff;
}
.footer-text-link{
    color: #3EB54E;
    font-weight: bold;
}